/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* CSS Variables */
:root {
  --main-font: "Boldonse", sans-serif;
  --paragraph-font: "IBM Plex Sans", sans-serif;
  --background-color: #405376;
  /* Dark Blue */
  --Nav-color: #5c64b3;
  /* Blue */
  --primary-color: #bf5598;
  /* mauve */
  --secondary-color: #da547b;
  /*pink*/
  --highlight-color: #e5615a;
  /* Orange */
  --additional-color: #955dac;
  /* Purple */
}

/* Global styles */

body {
  max-width: 2000px;
  max-height: 1500px;
  margin: 0px auto;
  background-color: var(--background-color);
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
  padding: 20px;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 150px;
  margin-top: -28px;
  margin-left: 59px;
  margin-bottom: -18px;
}

.sub-heading {
  color: var(--additional-color);
  padding-top: 25px;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
} /* Hide all steps initially */

.active {
  display: block;
} /* Show only active step */

/* Heading section */

.spotify-logo {
  margin-left: 1200px;
  font-size: 20px;
}

/* Header Text */
.text-big {
  font-size: 37px;
  font-weight: bold;
}

.text-medium {
  font-size: 20px;
  font-weight: bold;
}

.intro-text {
  top: -251px;
  padding-left: 30px;
}

.starter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: left;
  flex-direction: column; /* Aligns items under eachother */
  padding-top: 30px;
}

.steps {
  margin-top: -109px;
  margin-left: 15px;
}

.instructions {
  margin-top: -21px;
  margin-left: 95px;
}

/* Header turn table styles */

.header-image {
  position: relative;
  top: 45px;
}

.turntable {
  width: 50%;
  height: auto;
  position: relative;
  top: 40px;
  margin-bottom: 20px;
  max-width: 500px;
  left: 61.41%;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
}

.vinyl {
  width: 25%;
  height: auto;
  position: absolute;
  animation: spin 10s linear infinite;
  transform-origin: center; /* Spins around its own center */
  top: 16%;
  left: 64.81%;
  transform: translate(-50%, -50%);
}

/* Turntable arm styles */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider {
  position: absolute;
  top: 70%;
  left: 95.3%;
}

/* Main section */



.step1 {
  margin-top: 28px;
  margin-left: 5px;
}

/* --------- Buttons */

.btn {
  background: #fff;
  width: 45%;
  padding: 20px 0;
  color: var(--highlight-color);
  margin-left: 78px;
  margin-top: 60px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 30px;
  border: none;
}

.btn:hover {
  background: var(--highlight-color);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Footer section */
footer {
  margin-top: 250px; /* Pushes the footer to the bottom */
}

.footer-links {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: left;
  padding-right: 50px;
}

.follow-us {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}
.follow-us i {
  color: var(--additional-color);
  padding-left: 3.5px;
}

.important {
  margin-left: 20px;
  font-size: 20px;
  color: var(--primary-color);
}
.important a {
  color: var(--additional-color);
  text-decoration: none;
}

.important a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.ast-small-footer-wrap {
  padding-top: 10px;
  text-align: center;
}

/*to delete*/
/*.container {
    border: 1px solid black;
}*/
